.some {
	color: #f39c12; /*SUPRISED*/
	color: #c0392b; /*ANGRY*/
	color: #2ecc71; /*CONFUSED*/
	color: #7f8c8d; /*CALM*/
	color: #3498db; /*SAD*/
	color: #9b59b6; /*FEAR*/
	color: #16a085; /*DISGUSTED*/
	color: #f1c40f; /*HAPPY*/

}	
